In [32]:
import pandas as pd
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2000")

In [33]:
print(len(data))

11

In [34]:
data[6]

   vteLists of films by country                     vteLists of films by country.1
0                        Africa  Central Angola Central African Republic Chad C...
1                       Central  Angola Central African Republic Chad Congo (De...
2                       Eastern  Burundi Cameroon Ethiopia Kenya Madagascar Mau...
3                      Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
4                      Southern                              Botswana South Africa
5                       Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
6                          Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
7                       Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
8                       Eastern  China Hong Kong Macau Japan Korea North Korea ...
9                      Southern  Afghanistan Bangladesh Bhutan India Assamese B...
10                 Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
11                      Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
12                       Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
13                      Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
14                     Northern  Denmark Estonia Faroe Islands Finland Iceland ...
15                     Southern  Albania Andorra Bosnia and Herzegovina Croatia...
16                      Western  Austria Belgium France Germany East Germany Ir...
17                North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
18                    Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
19                      Central     Costa Rica Guatemala Honduras Nicaragua Panama
20                     Northern              Canada Greenland Mexico United States
21                      Oceania  Australia Fiji New Zealand Niue Papua New Guin...
22                South America  Argentina Bolivia Brazil Chile Colombia Ecuado...

In [42]:
data[6]

   vteLists of films by country                     vteLists of films by country.1
0                        Africa  Central Angola Central African Republic Chad C...
1                       Central  Angola Central African Republic Chad Congo (De...
2                       Eastern  Burundi Cameroon Ethiopia Kenya Madagascar Mau...
3                      Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
4                      Southern                              Botswana South Africa
5                       Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
6                          Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
7                       Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
8                       Eastern  China Hong Kong Macau Japan Korea North Korea ...
9                      Southern  Afghanistan Bangladesh Bhutan India Assamese B...
10                 Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
11                      Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
12                       Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
13                      Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
14                     Northern  Denmark Estonia Faroe Islands Finland Iceland ...
15                     Southern  Albania Andorra Bosnia and Herzegovina Croatia...
16                      Western  Austria Belgium France Germany East Germany Ir...
17                North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
18                    Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
19                      Central     Costa Rica Guatemala Honduras Nicaragua Panama
20                     Northern              Canada Greenland Mexico United States
21                      Oceania  Australia Fiji New Zealand Niue Papua New Guin...
22                South America  Argentina Bolivia Brazil Chile Colombia Ecuado...

In [43]:
df=data[6]

In [44]:
import pandas as pd
df = df.drop([0, 1, 4], axis=0)
df

   vteLists of films by country                     vteLists of films by country.1
2                       Eastern  Burundi Cameroon Ethiopia Kenya Madagascar Mau...
3                      Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
5                       Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
6                          Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
7                       Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
8                       Eastern  China Hong Kong Macau Japan Korea North Korea ...
9                      Southern  Afghanistan Bangladesh Bhutan India Assamese B...
10                 Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
11                      Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
12                       Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
13                      Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
14                     Northern  Denmark Estonia Faroe Islands Finland Iceland ...
15                     Southern  Albania Andorra Bosnia and Herzegovina Croatia...
16                      Western  Austria Belgium France Germany East Germany Ir...
17                North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
18                    Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
19                      Central     Costa Rica Guatemala Honduras Nicaragua Panama
20                     Northern              Canada Greenland Mexico United States
21                      Oceania  Australia Fiji New Zealand Niue Papua New Guin...
22                South America  Argentina Bolivia Brazil Chile Colombia Ecuado...

In [45]:
df.iloc[0]

vteLists of films by country                                                Eastern
vteLists of films by country.1    Burundi Cameroon Ethiopia Kenya Madagascar Mau...
Name: 2, dtype: object

In [46]:
df.columns=list(df.iloc[0])
df

          Eastern Burundi Cameroon Ethiopia Kenya Madagascar Mauritius Mozambique Rwanda Somalia Tanzania Uganda Zambia Zimbabwe
2         Eastern  Burundi Cameroon Ethiopia Kenya Madagascar Mau...
3        Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
5         Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
6            Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
7         Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
8         Eastern  China Hong Kong Macau Japan Korea North Korea ...
9        Southern  Afghanistan Bangladesh Bhutan India Assamese B...
10   Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
11        Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
12         Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
13        Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
14       Northern  Denmark Estonia Faroe Islands Finland Iceland ...
15       Southern  Albania Andorra Bosnia and Herzegovina Croatia...
16        Western  Austria Belgium France Germany East Germany Ir...
17  North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
18      Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
19        Central     Costa Rica Guatemala Honduras Nicaragua Panama
20       Northern              Canada Greenland Mexico United States
21        Oceania  Australia Fiji New Zealand Niue Papua New Guin...
22  South America  Argentina Bolivia Brazil Chile Colombia Ecuado...

In [47]:
df = df.reset_index(drop=True)
df

          Eastern Burundi Cameroon Ethiopia Kenya Madagascar Mauritius Mozambique Rwanda Somalia Tanzania Uganda Zambia Zimbabwe
0         Eastern  Burundi Cameroon Ethiopia Kenya Madagascar Mau...
1        Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
2         Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
3            Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
4         Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
5         Eastern  China Hong Kong Macau Japan Korea North Korea ...
6        Southern  Afghanistan Bangladesh Bhutan India Assamese B...
7    Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
8         Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
9          Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
10        Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
11       Northern  Denmark Estonia Faroe Islands Finland Iceland ...
12       Southern  Albania Andorra Bosnia and Herzegovina Croatia...
13        Western  Austria Belgium France Germany East Germany Ir...
14  North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
15      Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
16        Central     Costa Rica Guatemala Honduras Nicaragua Panama
17       Northern              Canada Greenland Mexico United States
18        Oceania  Australia Fiji New Zealand Niue Papua New Guin...
19  South America  Argentina Bolivia Brazil Chile Colombia Ecuado...

In [48]:
def score_table(table):
 " Returns a pretty-printed dataframe of scoring summary."
 table = table.drop(len(table)-1) # Drop last row
 table = table.drop([0, 1]) # Drop first two rows
 table.columns = list(table.iloc[0])
 table = table.drop(2) 
 table = table.reset_index(drop=True) 
 return table

In [49]:
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2000")
score_table(data[6])

          Eastern Burundi Cameroon Ethiopia Kenya Madagascar Mauritius Mozambique Rwanda Somalia Tanzania Uganda Zambia Zimbabwe
0        Northern  Algeria Egypt Libya Morocco Sudan Tunisia West...
1        Southern                              Botswana South Africa
2         Western  Benin Burkina Faso Cape Verde Côte d'Ivoire Gu...
3            Asia  Central Kazakhstan Kyrgyzstan Tajikistan Turkm...
4         Central  Kazakhstan Kyrgyzstan Tajikistan Turkmenistan ...
5         Eastern  China Hong Kong Macau Japan Korea North Korea ...
6        Southern  Afghanistan Bangladesh Bhutan India Assamese B...
7    Southeastern  Burma Cambodia Indonesia Laos Malaysia Philipp...
8         Western  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
9          Europe  Eastern Belarus Bulgaria Czech Republic Hungar...
10        Eastern  Belarus Bulgaria Czech Republic Hungary Moldov...
11       Northern  Denmark Estonia Faroe Islands Finland Iceland ...
12       Southern  Albania Andorra Bosnia and Herzegovina Croatia...
13        Western  Austria Belgium France Germany East Germany Ir...
14  North America  Caribbean Antigua and Barbuda Aruba Bahamas Ba...
15      Caribbean  Antigua and Barbuda Aruba Bahamas Barbados Cub...
16        Central     Costa Rica Guatemala Honduras Nicaragua Panama
17       Northern              Canada Greenland Mexico United States
18        Oceania  Australia Fiji New Zealand Niue Papua New Guin...

In [29]:
url = "https://vignannirula.org/co.html"
data = pd.read_html(url)
data[0]

                               0  ...                              3
0  Undergraduate Courses: B.Tech  ...  Undergraduate Courses: B.Tech
1                          S.No.  ...                NUMBER OF SEATS
2                              1  ...                            180
3                              2  ...                            180
4                              3  ...                            120
5                              4  ...                            120

[6 rows x 4 columns]

In [30]:
url = "https://vignannirula.org/co.html"
data = pd.read_html(url)
data[1]

                                     0  ...                                    3
0  Post graduate Courses: M.Tech & MBA  ...  Post graduate Courses: M.Tech & MBA
1                                S.No.  ...                      NUMBER OF SEATS
2                                    1  ...                                  120
3                                    2  ...                                   18
4                                    2  ...                                   18

[5 rows x 4 columns]